@model eManager.Domain.Deparment

@{
    ViewBag.Title = "Detail";
}

<h2>@Model.name</h2>



@Html.ActionLink("Create an employee", "Create", "Employee", new { DeparmentId=Model.id},null)

<table>
    <thead>
        <tr>
            <th colspan="2">Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Employees)
        {
            <tr>
                <td>@item.name</td>
            </tr>
        }
    </tbody>
</table>

