@model IEnumerable<eManager.Domain.Deparment>

@{
    ViewBag.Title = "List All Deparments";
}




<table>
    <thead>

        <tr>
            <th>@Html.DisplayNameFor(model => model.name)</th>
        </tr>
    </thead>
    <tbody style="border">

        @foreach (var department in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => department.name)</td>
                <td>@Html.ActionLink("Edit Deparment","Edit","Dep",new { department.id },null)</td>
                <td>@Html.ActionLink("Details", "Detail","Dep",new {id=department.id},null)</td>
            </tr>
        }
    </tbody>
</table>
