@model IEnumerable<eManager.Domain.Deparment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.DisplayNameFor(model=>model.name)

<table>
    <thead>

        <tr>
            <td>hello from td</td>
            <th>hello from th</th>
            <td>hello from td</td>
            <th>hello from th</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var department in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>department.name)</td>
            </tr>
        }
    </tbody>
</table>
